@value colors: "../colors.module.css";
@value secondary, menu_border, menu_back, menu_high from colors;

.dropdown {
    box-sizing: border-box;
    position: absolute;
    top: 48px;
    width: 300px;
    transform: translateX(-45%);
    background-color: menu_back;
    border-radius: 5px;
    padding: .3rem;
    overflow:hidden;
}

.menuItem {
    color: rgba(255,255,255, .785);
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background 500ms; 
    padding: 0.5rem;
    border: 5px;
    text-decoration: none;
}

.menuItem:hover {
    background-color: menu_high;
    color: orange;
}

