.modalTrigger {
    padding: 4px;
    font-size: .5em;
    font-weight: bold;
    background: powderblue;
    border: 3px solid rgba(53, 44, 44, 0.8);
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.15s ease-out;
    text-decoration: none;
}

.modalTrigger:hover {
    background: rgb(60, 77, 80);
    color: white;
}
.modalTrigger:focus {
    outline: 0;
    box-shadow: 0 0 4px currentColor;
}

.buttonContainer {
    height: 19px;
    width: 14px; 
    margin-right: 5px;
    align-items: center;
    box-sizing: content-box;
    visibility: visible;
}

.button:hover .buttonContainer {
    cursor: pointer;
}

.icon {
    height: 100%;
    width: 100%;
}
