.sideDrawer {
    height: 100%;
    top: 50px;
    left: 0;
    background: rgb(40, 44, 52);
    box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 200px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.open {
   transform: translateX(0); 
}

.ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: top;
}

.li {
    margin: 0.5em 0;
}

.a {
    text-decoration: none;
    color: rgba(233, 222, 222, 0.5);
}

.a:hover {
    color: orange;
}


/* @media (min-width: 769px) {
    .sideDrawer {
        display: none;
    }
} */