.displayCategories {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    color: lightgray;
    /* padding-left: 1em; */
    /* color: blue;
    background-color: red; */
}

.buttons {
    display: inline-flex;
    text-decoration: none;
    font-size: .75em;
    align-items: center;
    margin-left: .25em;
    /* box-sizing: border-box;
    height: 100%;
    align-items: center;
    font-size: .75em;
    text-decoration: none; */
}

.topTitleButtons {
    composes: buttons;
    margin-top: 1.5em;
}
.topCatTitle{
    font-size: 2em;
    text-decoration: underline;
    font-weight: bold;
    white-space: nowrap;
    /* margin-left: .75em; */
}

.subCatList {
    margin: 0;
    padding: 0;
    margin-left:.75em; 
    border-left: 2px solid rgba(0, 0, 0, 0.15);
}

.subTitleContainer {
    display: inline-flex;
    flex-direction: row;
}

.subTitleContainer:hover {
    color: orange;
}

.subTitle {
    font-weight: bold;
    text-decoration: underline;
    white-space: nowrap;
}

.subTitleContainerArchive {
    composes: subTitle;
    color: red;
}

.subTitle:hover {
    color: orange;
}

.catItemContainer {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding-left: .75em;
    border-left: 2px solid rgba(0, 0, 0, 0.15);
}

.catItemContainerArchive {
    composes: catItemContainer;
    color: lightcoral;
}

.catItem {
    display: flex;
    white-space: nowrap;
}

.catItem:hover {
    color: orange;
}

.catItemArchive {
    composes: catItem;
    color: red;
}

.unarchivedArchive {
    color: lightcoral;
}

.status {
    display: inline-flex;
    margin: auto;
    margin-left: .75em;
}

.statusClear {
    composes: status;
    margin-left: 0;
}