.studentsDisplay {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr ) 5px;
}

.attribution {
    color: black;
    grid-row-start: 4;
    grid-row-end: -1;
}
.sideMenu {
    height: 100%;
    box-sizing: border-box;
    background-color: lightgray;
    width: 260px;
    display: grid;
    grid-template-rows: 20px 20px auto;
    gap: 4px;
    overflow-y: auto;
}

.artDropDown {
    margin-top: 3px;
    box-sizing: border-box;
    margin-left: 10px;
    height: 100%;
    min-width: 200px;
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.addStudent {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
}

.studentInfoDisplay {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: grid;
    grid-column-start: 2;
    grid-column-end: -1;
    overflow-y: auto;
    color: lightgray;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-rows: 1fr 1fr 8fr .25fr;
}

.studentList {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    height: 100%;
    align-content: start ;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.studentListItem {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    width: 100%;
    min-height: 30px;
    max-height: 60px;
    list-style-type: none;
    gap: 0px;
    border: 1px solid lightseagreen ;
    align-items: center;
}

.studentListItem:hover {
    color: rgb(161, 106, 4);
}

.studentTitle {
    grid-column-start: 1;
    grid-column-end: 3;
    overflow: hidden;
    display: flex;
    margin-left: 10px;
    white-space: nowrap;
    align-content: initial;
}

.studentTitle:hover {
    overflow: visible;
    white-space: pre-wrap;
    cursor: pointer;
}

.studentListButtons {
    display: flex;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: end;
    align-items: center;
}

/*  sidebar done*/

.studentForm {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.studentAdd {
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
    /* padding-bottom: 10px; */
}

.studentEdit {
    composes: studentAdd;
}

.studentCurriculumDisplay {
    height: 100%;
    /* width: 100%; */
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    overflow-y: auto;
}

.studentCurricContent {
    height: 100%;
    /* width: 100%; */
    display: inline-flex;
    flex-direction: column;
}
.studentCurrToolbar {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-bottom: 10px;
    margin-left: .75em;
}

.studentCurrCurric{
    height: 100%;
}

.buttonContainer {
    height: 19px;
    width: 14px; 
    margin-right: 5px;
    align-items: center;
    box-sizing: content-box;
    visibility: hidden;
}

.buttonContainer:hover {
    background: rgb(60, 77, 80);
    cursor: pointer;
}

.studentListItem:hover .buttonContainer {
    visibility: visible;
}

.icon {
    height: 100%;
    width: 100%;
}

.topCatOption {
    font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
}

.topCatSelect {
    composes: topCatOption;
    display: block;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	/* width: 100%; */
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, lightgray 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}



.topCatButton {
    composes: topCatOption;
    margin-left: 5px;
	line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    border-radius: .5em;
    background: lightgray;
}