.studentsDisplay {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr ) 5px;
}

.sideMenu {
    box-sizing: border-box;
    background-color: lightgray;
    width: 260px;
    display: grid;
    grid-template-rows: 20px 20px auto;
    gap: 4px;
    overflow-y: auto;
}

.artDropDown {
    margin-top: 3px;
    box-sizing: border-box;
    margin-left: 10px;
    height: 100%;
    min-width: 200px;
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.addStudent {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
}

.studentInfoDisplay {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    grid-column-start: 2;
    grid-column-end: -1;
    overflow-y: auto;
    color: lightgray;
    padding-left: 10px;
}

.studentList {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    width: 100%;
    height: 100%;
    align-content: start ;
    overflow-y: auto;
}

.studentListItem {
    padding-left: 10px;
    box-sizing: border-box;
    display: flex; 
    width: 100%;
    min-height: 30px;
    max-height: 30px;
    list-style-type: none;
    gap: 0px;
    border: 1px solid lightseagreen ;
}

.studentListItem:hover {
    color: rgb(161, 106, 4);
    cursor: pointer;
}