.tabs {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.tabList {
    border-bottom: 1px solid white;
    padding-left: 0;
}

.currentTabContent {
    height: 100%;
    overflow-y: auto;
}